@model string

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center w-100" style="height: 400px; width: 400px">
    <img src="data:image/png;charset=utf-8;base64,@Model" alt="image" />
</div>
